
 <div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

<div>
  <h1>Counter</h1>

  <div>Current Count: {{ count$ | async }}</div>

  <button (click)="decrement()">Decrement</button>

  <button (click)="increment()">Increment</button>

  <button (click)="reset()">Reset Counter</button>
</div>


<router-outlet></router-outlet>
