.container {

  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .card-login {
    width: 100%;
    max-width: 370px;

    &-title {
      text-align: center;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }
  }
}


