.container {

  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .card-login {
    width: 100%;
    max-width: 370px;

    &-title {
      text-align: center;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }
  }

  .panel {

    &-header {
      height: 40px;

      &-title {
        margin-right: 0;
        justify-content: center;
      }
    }
  }

  .form {
    &-field {
      width: 100%;
    }
  }
}


